.timer-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    width: auto;
    border-radius: 1rem;
}

.timer-div h6{
    margin: 0;
    letter-spacing: 2px;
}

