.game-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.action-div{
    /* background-color: cadetblue; */
    width: 100%;
    height: 100%;
    position: relative;
}

.red, .green{
    position: absolute;
    cursor: pointer;
}

.red{
    background-color: #fb2930;
    border-radius: 50%;
}
.green{
    background-color: #7bb141;
    border-radius: 5px;
}

.change{
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    background-color: #7bb141;
    transition: all 0.3s ease-in;
}

.changed{
    position: absolute;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fb2930;
    transition: all 0.3s ease-in;
    border-radius: 50%;
}

